<!--#   This file is part of SearchVinyls.
    #
    #    SearchVinyls is free software: you can redistribute it and/or modify
    #    it under the terms of the GNU General Public License as published by
    #    the Free Software Foundation, either version 3 of the License, or
    #    (at your option) any later version.
    #
    #    Foobar is distributed in the hope that it will be useful,
    #    but WITHOUT ANY WARRANTY; without even the implied warranty of
    #    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    #    GNU General Public License for more details.
    #
    #    You should have received a copy of the GNU General Public License
    #    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.-->

{% extends "base.html" %}
{% block menu %}
<ul class="nav nav-pills pull-right">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li class="active"><a href="/contact">Contact</a></li>
</ul>
{% endblock %}
{% block content %}
{% if status %}
<div><h2>{{status}}</h2></div>
{% else %}
{% if error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>{{ error }}</strong>
</div>
{% endif %}
<div class="span4">
  <p class="text-info">Hi! We are very interested in your feedback about your SearchVinyls experience. We want to know ideas, bad experiences, good experiences.... about SearchVinyls. At the same time you send information using our feedback form you will be suscribed to our newsletter in order to receive news about SearchVinyls</p>
</div>
<div  class="span6">
  <form action="../contact" method="post" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
	<input type="text" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Feedback</label>
      <div class="controls">
	<textarea name="content"  cols="40"rows="10" placeholder="Feedback"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
	<button type="submit" class="btn">Send Feedback</button>
      </div>
    </div>
  </form>
</div>
{% endif %}
{% endblock%}
