<!--#   This file is part of SearchVinyls.
#
#    SearchVinyls is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Foobar is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <TITLE>Search for Vinyls</TITLE>
        <link rel="stylesheet" href="/styles/style.css">
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <script type="text/javascript">
            function f() {
            document.forms[0][0].focus();}
            f();</script>
    </head>
    <body>
        <center>
            <form action="/result" method="post">
                <img src="/images/logo.gif" alt="Search for Vinyls" />
                <h4>{{items}} vinyls indexed </h4>
                <div><h2><input name="content" size="40" style="font-size: 100%;" maxlength="2048" type="text"/></h2></div>
                <div><input type="submit" value="Search"></div>
            </form>
            <div style="margin-left: 35px;"><g:plusone size="medium"></g:plusone></div>
            <div style="margin-top: 20px"><a href="/feedback">Feedback</a></div>
        </center>
    </body>
</html>